extends layout

block deviceKeys
  div.container
    div.row
      div#KEY_POWER.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-danger.text-center 
        span.glyphicon.glyphicon-off
      div#KEY_DISPLAY.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center DISPLAY
      div#KEY_SEARCH_MODE.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center SEARCH
      div#KEY_OPEN_CLOSE.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center EJECT
        span.glyphicon.glyphicon-eject
    div.row
      div#KEY_AUDIO.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center AUDIO  
        span.glyphicon.glyphicon-volume-up
      div#KEY_1.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center 1
      div#KEY_2.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center 2
      div#KEY_3.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center 3
    div.row
      div#KEY_SHUFFLE.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center SUBS  
        span.glyphicon.glyphicon-subtitles
      div#KEY_4.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center 4
      div#KEY_5.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center 5
      div#KEY_6.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center 6
    div.row
      div#KEY_ANGLE.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center ANGLE
      div#KEY_7.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center 7
      div#KEY_8.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center 8
      div#KEY_9.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center 9
    div.row
      div#KEY_REPEAT.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center REPEAT  
        span.glyphicon.glyphicon-repeat
      div#KEY_CLEAR.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center CLEAR
      div#KEY_0.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center 0
      div#KEY_HDMI.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center HDMI
    div.row
      div#KEY_A_B.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center A-B 
      div#KEY_PAUSE.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-pause
      div#KEY_PREVIOUS.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-fast-backward
      div#KEY_NEXT.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-fast-forward
    div.row
      div#KEY_REWIND.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-backward
      div#KEY_STOP.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-stop
      div#KEY_PLAY.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-play
      div#KEY_FORWARD.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-forward
    div.row
      div#KEY_SETUP.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center SETUP 
        span.glyphicon.glyphicon-list
      div#KEY_TOP_MENU.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center T.MENU 
        span.glyphicon.glyphicon-list-alt
      div#KEY_UP.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-triangle-top
      div#KEY_MENU.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center MENU 
        span.glyphicon.glyphicon-menu-hamburger
    div.row
      div#KEY_MODE.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center MODE  
      div#KEY_LEFT.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-triangle-left
      div#KEY_ENTER.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center ENTER
      div#KEY_RIGHT.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center
        span.glyphicon.glyphicon-triangle-right
    div.row
      div#KEY_ZOOM.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center ZOOM 
        span.glyphicon.glyphicon-fullscreen
      div#KEY_ENTER.col-xs-3.col-sm-3.col-md-3.col-lg-3   
      div#KEY_BOTTOM.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center 
        span.glyphicon.glyphicon-triangle-bottom
      div#KEY_RETURN.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-default.text-center RETURN 
        span.glyphicon.glyphicon-share-alt

