extends layout

block deviceKeys
  div.container
    div.row
      div#KEY_POWER.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-danger.text-center 
        span.glyphicon.glyphicon-off
      div.col-xs-4.col-sm-4.col-md-4.col-lg-4 
      div#KEY_TV.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center TV 
        span.glyphicon.glyphicon-unchecked
    div.row
      div#KEY_1.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center 1
      div#KEY_2.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center 2
      div#KEY_3.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center 3
    div.row
      div#KEY_4.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center 4
      div#KEY_5.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center 5
      div#KEY_6.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center 6
    div.row
      div#KEY_7.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center 7
      div#KEY_8.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center 8
      div#KEY_9.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center 9
    div.row
      div#KEY_DASH.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center 
        span.glyphicon.glyphicon-minus
      div#KEY_0.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center 0
      div#KEY_PREVIOUS_CHANNEL.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center PRE-CH
    div.row
      div#KEY_VOLUME_UP.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center VOL 
        span.glyphicon.glyphicon-plus 
      div#KEY_MUTE.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center MUTE  
        span.glyphicon.glyphicon-volume-off
      div#KEY_CHANNEL_UP.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center CH 
        span.glyphicon.glyphicon-chevron-up
    div.row
      div#KEY_VOLUME_DOWN.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center VOL 
        span.glyphicon.glyphicon-minus
      div#KEY_SOURCE.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center SOURCE  
        span.glyphicon.glyphicon-log-in 
      div#KEY_CHANNEL_DOWN.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center CH 
        span.glyphicon.glyphicon-chevron-down
    div.row
      div#KEY_CHANNEL_LIST.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center CH LIST 
        span.glyphicon.glyphicon-list
      div#KEY_MENU.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center MENU 
        span.glyphicon.glyphicon-list-alt
      div#KEY_FAVORITE_CHANNEL.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center FAV CH 
        span.glyphicon.glyphicon-heart-empty
    div.row
      div#KEY_TOOLS.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center TOOLS  
        span.glyphicon.glyphicon-wrench
      div#KEY_UP.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center 
        span.glyphicon.glyphicon-triangle-top
      div#KEY_RETURN.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center RETURN 
        span.glyphicon.glyphicon-share-alt
    div.row
      div#KEY_LEFT.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center 
        span.glyphicon.glyphicon-triangle-left
      div#KEY_ENTER.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center ENTER  
      div#KEY_RIGHT.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center 
        span.glyphicon.glyphicon-triangle-right
    div.row
      div#KEY_INFO.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center INFO  
        span.glyphicon.glyphicon-info-sign
      div#KEY_DOWN.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center 
        span.glyphicon.glyphicon-triangle-bottom
      div#KEY_EXIT.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center EXIT 
        span.glyphicon.glyphicon-share
    div.row
      div#KEY_RED.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-danger.text-center RED
      div#KEY_GREEN.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-success.text-center GREEN
      div#KEY_YELLOW.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-warning.text-center YELLOW
      div#KEY_BLUE.col-xs-3.col-sm-3.col-md-3.col-lg-3.btn.btn-primary.text-center BLUE
    div.row
      div#KEY_SIZE.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center SIZE 
        span.glyphicon.glyphicon-resize-full
      div#KEY_MTS.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center MTS  
        span.glyphicon.glyphicon-volume-up
      div#KEY_CC.col-xs-4.col-sm-4.col-md-4.col-lg-4.btn.btn-default.text-center CC 
        span.glyphicon.glyphicon-subtitles
